.container {
    width: 100%;
    margin: 0 auto;

    list-style: none;
    padding: 0;
}

.slide>div {
    display: block;
    padding-top: 20%;
    padding-left: 5%;
    // align-items: center;
    // justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 40rem;
}

.slide span {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background: rgba(141, 174, 224, 0.5);
    text-align: center;
}